h1, h3 {
  text-align: center;
}

body {
  text-align: center;
  margin: 0 auto;
  background-color: black;
  color: gold;
  font-size: 20px;
  font-family: Arial, sans-serif;
}

img {
  display: block;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: center;
  font-family: Arial, sans-serif;
}

.quote {
  background-color: gold;
  color: black;
  font-style: oblique;
}

.links {
  text-align: left;
  color: white
}